body{
    background-color:rgba(0, 132, 255, 0.738);
    background-repeat: no-repeat;
    background-size: cover;
    color:aliceblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
img{
    border: 2px solid white;
    padding: 5px;
}
.centerme{
    display: block;
    margin: 0 auto;
}
.tab{
    size: 1px;
}
.common{
    /* position: absolute; */
}
.footer{
    color: white;
    position: fixed;
    background-color: blue;
    bottom: 0px;
    width: 100%;
    text-align: center;
    font-style:normal;
    font-size: small;
    z-index: 2;
    left: 0;
}
.header{
    width: 100%;
    font-family:monospace;
    font-size: 110px;
    text-align: center;
    top: 10px;
}
.subheader{
    width: 100%;
    font-family:monospace;
    font-size: 40px;
    text-align: center;
    top: 10px;
    background-color: blue;
    margin-top: 5px;
}
.mainbody{
    top:400px;
}
nav {
    font-size: x-large;
    position:absolute;
    top: 0;
    right: 0;
    margin-top: 5px;
    margin-right:10px;
  }
  .navtext{
    color: rgb(255, 255, 255);
  }
  .looks, .skills, .personality{
    display:flexbox;
    width: 100%;
    margin: 0;
    padding: 0;
    margin-left: 5px;
    margin-right: 0px;
    font-size: xx-large;
  }
  .looksitems, .skillsitems, .personalityitems{
    list-style-type: circle !important;
    display: inline-block !important;
    width: 100%;
    margin: 0 !important;
    padding: 0 !important;
    margin-left: 5px !important;
    margin-right:0px !important;
    font-size: larger;
  }
  .video{
    margin-top: 15px;
    border: 2px solid white;
    padding: 5px;
  }
 

 